html, body{
    margin: 0;
    padding-top: 0;
    padding-left: 10px;
}

.right-menu-nav {
    height: 100vh;
    float: right;
    margin-left: auto;
    margin-right: 0px;
    margin-top: 0;
    background: #3a3a3a;
    color: rgb(219, 219, 219);
    width:15%;
}

.right-menu-nav h2 {
    padding-left: 10px;
}

.game-container {
    width: 50%;
    height: 300px;
    float: left;
    margin-left: 0;
    margin-right: 100px;
    background: #f9f9f9;
    border-width: 4px;
    border-color: black;
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(2, 6rem);
    grid-template-rows: 10rem 2rem 10rem;
    gap: .5rem;
    justify-content: center;
    padding: 20px 0 100px;
    cursor: pointer;
    user-select: none;
}

.deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: black;
    border-radius: .5rem;
}

.dealer-deck {
    background-color: cornflowerblue;
}

.user-deck {
    background-color: tomato;
}

.card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

.card.black {
    color: black;
}

.card.red {
    color: red;
}

.card::before,
.card::after{
    position: absolute;
    content: attr(data-value);
    font-size: 1.5rem;
}

.card::before {
    left: .5rem;
    top: .5rem;
}

.card::after {
    right: .5rem;
    bottom: .5rem;
    transform: rotate(180deg)

}

.round-outcome {
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.game-title {
   float: left;
   padding-left: 120px;
}

.score-container {
    float: left;
    width: 50%;
    border-width: 4px;
    border-style: double;
    border-color: black;
    margin-left: 0;
    margin-right: 100px;
    padding: 0px;
}

.user-pairs {
    padding-left: 10px;
}

.dealer-pairs {
    padding-left: 10px;
}